@{
    ViewData["Title"] = "Sorteo TEC";
}


<div id="menu">
    <nav class="menu">
        <ul>
            <li><a href="#">Sorteos Tec</a></li>
            <li><a href="#">Ganadores</a></li>
            <li><a href="#">Participar</a></li>
        </ul>
    </nav>
</div>

<br />
<br />
<div>
<form method="post" action="@Url.Action("ObtenerDatos", "Home")">

    <div class="input-containerizq">
        <div>PARTICIPAR</div>
        <br />
        <div id="Cuerpo">Selecciona el número de participaciones.</div>
        <br />
        <div>Aseguráte que los datos de rotulación coincidan con los datos de tu identificación oficial</div>
    </div>

    @model Usuario
    <div class="input-container">

        <div class="inputs-top">
            <input type="text" id="nombre" name="nombre"
                   value="@Model.Nombre" placeholder="Nombre" style="display: inline-block; width: 150px;">
            <span asp-validation-for="Nombre"></span>

            <input type="email" id="correo" name="correo"
                   value="@Model.Correo" placeholder="Correo Electrónico" style="display: inline-block; width: 150px;">
            <span asp-validation-for="Correo"></span>
        </div>

        <input type="text" id="telefono" name="telefono"
               value="@Model.Telefono" placeholder="Teléfono" style="display: inline-block; width: 300px; margin-top: 10px; margin-left: 150px;">
        <span asp-validation-for="Telefono"></span>

        <br />

        <div class="selectOp" style="display: inline-block; width: 300px; margin-top: 10px; margin-left: 150px;">
            <select id="opcion" name="opcion">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>

        <br />
        <br />

        <div style="width: 150px; text-align: right; padding-right: 100px;">
            <button type="submit" id="my-button" class="blue-button">Pagar</button>
        </div>

        </div>
    </form>

    </div>




